* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: radial-gradient(circle, #0b456b, #021c37);
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock__body {
  width: 500px;
  height: 500px;
  position: relative;
  background: radial-gradient(circle, #05263c, #000d1a);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock__body::before {
  content: "";
  width: 525px;
  height: 525px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to right, #00d9ff, #ee00ff);
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.number {
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  text-align: center;
  inset: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #00d9ff;
  text-shadow: 0 0 12px #ee00ff;
}
.hour {
  position: absolute;
  width: 12px;
  height: 130px;
  background: linear-gradient(#00d9ff, #ee00ff);
  transform-origin: bottom;
  bottom: 50%;
  animation: hour 84600s steps(84600, end) infinite;
  border-radius: 30px;
}
@keyframes hour {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.minute {
  width: 12px;
  height: 190px;
  position: absolute;
  transform-origin: bottom;
  bottom: 50%;
  animation: minutes 3600s steps(3600, end) infinite;
  background: linear-gradient(to top, #00d9ff, #ee00ff);
  border-radius: 30px;
}
@keyframes minutes {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.second {
  position: absolute;
  width: 6px;
  height: 210px;
  background: linear-gradient(to top, #00d9ff, #ee00ff);
  transform-origin: bottom;
  bottom: 50%;
  animation: seconds 60s steps(60, end) infinite;
  border-radius: 30px;
}
@keyframes seconds {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.dot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ee00ff;
  border: 6px solid #00d9ff;
  border-radius: 50%;
}
